/* @media (max-width: 768px) {
    #hero {
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 8px;
        width: 100%;
        }
}

@media screen and (max-width: 993px){
 .header .container {
    height: 50px;
    max-width: none !important;
    padding: 5px 8px 0 8px !important;
}
} */