 :root {
    --background: #8f9196;
    --primary: #1e50ff;
    --secondary: #272d37;
    --azulaux: rgb(81, 21, 221);
 }
* {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

body {
    background: white;
    /* background: linear-gradient(#e9eded, #67676e, #000000); */
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vw; */
 }

/* Nav Bar */
.navbar {
    display: flex;
    padding: 0;
    background: var(--secondary);
    background-size: cover;
    align-items: center;
    justify-content: space-between;
    box-shadow: #67676e;
}



.logo {
    width: 3rem;
    height: 3rem;
    padding: 1rem;
    margin: 0;
    margin-left: 5rem;
}

.menu {
    display: flex;
    margin-right: 5rem;
}

.menu li a {
    color: aliceblue;
    padding: 1rem;
}

.menu li a:hover {
    color: var(--primary);
}

.active {
    font-size: medium;
}

/* Fin Nav Bar */

/* Hero */
#hero {
    margin-top: 5rem;
    padding: 5rem 2rem;
 /* max-width: 1200px; */
    margin: 0, auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
}

.Hero-info {
    display: block;
    align-content: center;
    justify-content: center;
    margin-left: 5rem;
}

.Hero-info h1 {
    font-size: 70px;
    width: 80%;
    min-width: 500px;
    font-weight: 800;
    color: var(--azulaux);
    text-shadow: #000000;
}

.Hero-info p {
    color: #000000;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 35px;
    padding: 15px;
}

.hero-img {
    width: 400px;
    background: var(--secondary);
    padding: 8px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#btns .more {
    color: whitesmoke;
    background-color: var(--primary);
    width: 120px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 14px;
    text-align: center;
}

#btns .contact {
    color: whitesmoke;
    background-color: var(--primary);
    width: 120px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 14px;
    text-align: center;
}

#btns .more a {
    text-decoration: none;
}

/* fin Hero */

/* info */

#info {
    /* display: flex; */
    background: #272d37;
    opacity: 30%;
    border-radius: 1rem;
    margin-top: 2rem;
    padding: 2rem;
    width: 35rem;
    text-align:left;
}

#info p {
    color: whitesmoke;
}

#info {
    position: fixed;
    top: 70%;
    left: 90%;
    transform: translate( -80%);
}
/* Fin Info */

#productos {
    box-sizing: 350px;
    display: flex;
    justify-content: space-around;
    gap: 25px;
    
}
#productos .caja1 {
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    

}
/* #productos .caja2 {
    background: #748ebb;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 1rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#productos .caja3 {
    background: #748ebb;
    background-repeat: no-repeat;
    background-size:cover;
    border-radius: 1rem;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
} */
#productos p{
    color: black;
    font-size: 25px;
    text-transform: uppercase;
}
 .bximg {
    width: 300px;
    gap: 15px;
}
/* footer */
footer {
    background:linear-gradient(black,rgb(37, 37, 37));
    padding-bottom: 3rem;
    padding-top: 3rem;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    color: rgb(196, 194, 194);
    text-align:center;
}

footer img {
    width: 80px;
}
footer .partners {
    display: block;
    justify-content: end;
    width: 90px;
}
/* Fin footer */ 